<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="UTF-8">
        <title>Evolving With Angular JS</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <script src="js/main.js"></script>
    </head>
    <body ng-controller="MainController">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand" ng-bind="name"></a>
                </div>
            </div>
        </nav>
        <section class="container">
            <div class="row">
                <alert-msg ng-show="msg" title="Alert: ">
                    {{ msg }}
                </alert-msg>
                <div class="form-inline text-center">
                    <div class="form-group pull-left">
                        <input type="text" ng-model="search" class="form-control" placeholder="Search">
                    </div>
                    <form name="formClient">
                        <div ng-class="{ 'has-error' : formClient.nameClient.$invalid && formClient.nameClient.$dirty, 'has-success' : formClient.nameClient.$valid, 'form-group' : true }">
                            <input type="text" ng-model="client.name" name="nameClient" ng-required="true" class="form-control" placeholder="Name">
                        </div>
                        <div ng-class="{ 'has-error' : formClient.telClient.$invalid && formClient.telClient.$dirty, 'has-success' : formClient.telClient.$valid, 'form-group' : true }">
                            <input type="text" ng-model="client.tel" name="telClient" ng-required="true" mask-tel class="form-control" ng-pattern="/^\d{4,5}-\d{4}$/" placeholder="telephone ####-####">
                        </div>
                        <div ng-class="{ 'has-error' : formClient.addressClient.$invalid && formClient.addressClient.$dirty, 'has-success' : formClient.addressClient.$valid, 'form-group' : true }">
                            <input type="text" ng-model="client.address" name="addressClient" ng-required="true" class="form-control" placeholder="Address">
                        </div>
                        <div class="form-group">
                            <button ng-hide="editing" ng-click="add(client);" ng-disabled="formClient.$invalid" class="btn btn-success">Add</button>
                            <button ng-show="editing" ng-click="save(client);" ng-disabled="formClient.$invalid" class="btn btn-info">Save</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th ng-click="orderBy('name');" style="cursor:pointer;" >Name</th>
                            <th ng-click="orderBy('tel');" style="cursor:pointer;">Tel</th>
                            <th ng-click="orderBy('address');" style="cursor:pointer;">Address</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="client in clients | filter:search | orderBy:order:reverse">
                            <td>{{ client.name | uppercase }}</td>
                            <td>{{ client.tel }}</td>
                            <td>{{ client.address | lowercase }}</td>
                            <td>
                                <button ng-click="edit(client);" class="btn btn-default">Edit</button>
                                <button ng-click="destroy(client);" class="btn btn-danger">Destroy</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </body>
</html>